 .mat-card {
    width: 400px;
    padding: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rate-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .historique-container {
    margin-top: 20px;
  }
  